@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&family=Press+Start+2P&family=Roboto+Flex:opsz@8..144&display=swap');



* {
  font-family: "Press Start 2P", Roboto, Nunito, "sans-serif";
  box-sizing: border-box;
  margin: 0;
  cursor: url(./images/cursor_nobg.png) 1 1, auto;
}

.nav {
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 500px;
  padding: 0;
}

.nav ul .icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px;
}

.nav ul .icon_link .pixel_arrow {
  visibility: hidden;
  margin-right: 10px;
}

.icon_link, .pixel_arrow, .list_link {
  cursor: url(./images/link_cursor_nobg.png) 14 1, pointer;
}

.nav ul .icon_link:hover .pixel_arrow {
  visibility: visible;
}

.nav ul .list_link {
  font-size: 15px;
  color: whitesmoke;
}

.nav ul .list_link:hover {
  color: #C45E5E;
}

.pixel_logo {
  height: auto;
  width: 150px;
  cursor: url(./images/link_cursor_nobg.png) 14 1, pointer;
}

.pixel_arrow {
  height: 20px;
}

.legacy .parallax_svg{
  background-image: url(./images/Space_Invaders_wallpaper.jpg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  
}

.hero_text .hero_text_statement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 0px 0px black, 0px 3px 0px 0px black, 0px -3px 0px 0px black, -3px 0px 0px 0px black;
  background-color: whitesmoke;
  padding: 25px 50px;
}

.hero_text p {
  color: black;
  font-size: 15px;
  margin-bottom: 35px;
  text-align: center;
}

.hero_text .wiki_link {
  font-size: 15px;
  background-color: #C45E5E;
  padding: 5px 10px;
  box-shadow: 3px 0px 0px 0px black, 0px 3px 0px 0px black, 0px -3px 0px 0px black, -3px 0px 0px 0px black;
  cursor: url(./images/link_cursor_nobg.png) 14 1, pointer;
}

.hero_text_img {
  box-shadow: 3px 0px 0px 0px black, 0px 3px 0px 0px black, 0px -3px 0px 0px black, -3px 0px 0px 0px black;
}